body {
  font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
  }

a {color: #3333FF;text-decoration: none;}

h1 a {color: #000000; text-decoration: none;}
h2 a {color: #000000; text-decoration: none;}
h3 a {color: #000000; text-decoration: none;}

a:visited {color: #000099;}
a:hover {color: #3333FF;}
a:active {color: #6666FF;}

body {margin: auto; width: 760px;}

input, textarea {font-family: 'Courier New'; font-size: 10pt;}

.hidden {display: none;}

.fitwidth {width: 100%}
