<web-app> <!-- Copyright (C) 2006-2007 Laurent A.V. Szyster

This library is free software; you can redistribute it and/or modify
it under the terms of version 2 of the GNU Lesser General Public License as
published by the Free Software Foundation.

   http://www.gnu.org/copyleft/lesser.html

This library is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

You should have received a copy of the GNU Lesser General Public License
along with this library; if not, write to the Free Software Foundation, 
Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA 
-->
  <display-name>Less Code, More Applications</display-name>
  <resource-ref>
      <description>
        JDBC connections are so slow that pooling them is a better trade-off
        for performance and reliability, even with all the evils of mutex, 
        locks, race conditions and transaction failure it entails.
      </description>
      <res-ref-name>less4jdbc</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description>
      Develop more web 2.0 applications by scripting less4j conveniences.
      Follow the path of least resistance: progam everything in JavaScript
      first, optimize CPU intensive parts in Java when the application
      eventual success requires to achieve faster performances.
    </description>
    <servlet-name>less4jscript</servlet-name>
    <servlet-class>org.less4j.Script</servlet-class>
    <init-param>
      <param-name>less4j</param-name>
      <param-value><![CDATA[
      {
        "test": true, 
        "scripts": ["functions.js", "hello-world.js", "job.js"],
        }
      ]]></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>less4jscript</servlet-name>
    <url-pattern>/script/*</url-pattern>
  </servlet-mapping>
</web-app>